/** @format */
:root {
	--backdrop-: rgb(220, 220, 220);
}
.container {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(to right, #edf6f9, white, #caf0f871);
}
.container .wrapper {
	margin: 5rem auto;
	height: 88%;
	width: 60%;
	background: linear-gradient(to right, #e1eff1, #e5e6e4, #caf0f8);
	padding: 2rem;
	overflow: auto;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.wrapper::-webkit-scrollbar {
	width: 0px;
}
@media (max-width: 991px) {
	.container .wrapper {
		width: 55%;
	}
}
